name: Docker Image CI

on:
  push:
    branches: [ "main"]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    -
        name: Login to OCIR
        uses: docker/login-action@v3
        with:
          registry: fra.ocir.io
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.AUTH_TOKEN }}
    - name: Build and Push the image to OCIR
      run: |
        docker build . --build-arg APIGW_PATH=/api -t fra.ocir.io/${{ secrets.TENANCY_NAMESPACE }}/cars-api-pg:1.0.0
        docker push -q fra.ocir.io/${{ secrets.TENANCY_NAMESPACE }}/cars-api-pg:1.0.0
        
        